{% extends 'base.html' %}

<h3 class="text-center"> {% block 'title' %}Consulta Usuario{% endblock %}</h3>

{% block 'content' %}
<div class="form-group text-center mt-4">
    <div class="d-flex justify-content-center" style="margin-top: 5%;">
        <a href="{% url 'cadastrar-cliente' %}" target="_blank" class="btn btn-danger mx-2">Cadastrar Usuario</a>
        <a href="{% url 'cadastrar-produto' %}" class="btn btn-warning mx-2">Cadastrar Produto</a>
    </div>
</div>
<div class="container">
    <div class="row">
        <!-- Lado esquerdo: Input de busca -->
        <div class="col-md-6">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control w-100" type="search" placeholder="Search" 
                           aria-label="Search" name="termo" 
                           hx-get="{% url 'get-cliente' %}" 
                           hx-target="#clientes" hx-trigger="keyup">
                </form>
            </nav>
        </div>

        <!-- Lado direito: Lista de clientes -->
        <div class="col-md-6">
            <div id="clientes">
                {% include 'parciais/clientes.html' %}
            </div>
        </div>
    </div>

    <!-- Alinhar os botões lado a lado -->
    
</div>
{% endblock %}
